<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">stuffs</h3>
  <%= link_to "New stuff", new_stuff_path, class: "btn-ghost" %>
  </div>
  <div class="row">
    <% @stuffs.each do |stuff| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">

        <%= link_to stuff_path(stuff), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
            <%= stuff.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>



