<h1>Equipments#show</h1>

<p>Find me in app/views/equipments/show.html.erb</p>
<div>
<%= link_to "Delete",
      equipements_path(equipements),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
</div>
