<h1><%=  @stuff.name%></h1>

<p>Find me in app/views/equipments/show.html.erb</p>
<div>
<%= link_to "Delete",
      stuffs_path(@stuffs),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
</div>
