// Specific CSS for your home-page
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo img{
  width: 100px;
}
.logo{
  width: 125px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 50px;
}
nav ul li a{
  text-decoration: none;
  color: #555;
  font-size: 24px;
}
.container{
  max-width: 1500px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  display: gri;
  margin-top: 10%;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  width: 50%;
  height: 70%;
  padding: 50px 50px 60px 0px;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
}
.col-2 a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  background: #0929db;
  color: #fff;
  border-radius: 30px;
  margin-top: 25px;
  transition: background 0.3s;
}
.col-2 a:hover{
  background: #106e77;
}
p{
  color: #555;
}
.header-section{
  margin-top: -20px;
  background: radial-gradient(#fff,#eaf2fb);
}
/* style de la section catégorie*/
.categories{
  margin:70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin: auto;
}
.col-3 img{
  width: 100%;
}
.container h2{
  text-align: center;
  font-size: 2.2rem;
  color: #444;
  margin: 50px 0;
}
/* section meilleurs produits*/
.col-4{
  flex-basis: 25%;
  min-width: 200px;
  padding: 15px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.col-4:hover{
  transform: translateY(-10px);
}
.icone{
  color: #16a7b4;
}
