// Specific CSS for your home-page
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(#fff,#eaf2fb);
}

svg{
  text-decoration: none;
  color: #555;
  width: 30px; /* Largeur souhaitée */
  height: 30px;
}
.container1{
  max-width: 1500px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.rowII{
  margin-top: 10%;
  margin-left: 30px;
  display: flex;

}
.col{
  flex-basis: 50%;
  min-width: 300px;
}
.col img{
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
  grid-gap: 100px; /* Espacement de 10 pixels entre les éléments */
  grid-template-rows: 430px;
  justify-content: center;
  border-radius: 16px;
  margin-top: 10%;
}
.col h1{
  font-size: 50px;
  line-height: 60px;
}
.col a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  background: #0929db;
  color: #fff;
  border-radius: 30px;
  margin-top: 25px;
  transition: background 0.3s;
}
.col a:hover{
  background: #106e77;
}
p{
  color: #555;
}
.header-section{
  margin-top: -20px;
}
/* style de la section catégorie*/
.categories{
  margin:70px 0;
}

.container1 h2{
  text-align: center;
  font-size: 2.2rem;
  color: #444;
  margin: 50px 0;
}
/* section meilleurs produits*/
.col-4{
  flex-basis: 25%;
  min-width: 200px;
  padding: 15px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 300px;
  height: 300px;
}
.col-4:hover{
  transform: translateY(-10px);
}
.icone{
  color: #16a7b4;
}
.col-4 h2{
  margin-left: 10px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 4px 30px;
  background: #0929db;
  color: black;
  border-radius: 8px;
  transition: background 0.3s;
}
.btn:hover{
  background: #106e77;
}
.recherche{
  width: 600px;
  height: 32px;
  border-radius: 8px;
  top: 40px
}

a strong{
  font-size: 32px;
  color: black;
  left: 8px;
}
