// Import page-specific CSS files here.
@import "home";

.bouton {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  background: #0929db;
  color: #fff;
  border-radius: 30px;
  margin-top: 25px;
  transition: background 0.3s;
  right: 0px;
}

.bouton:hover {
  background: #106e77;
  color: black;
}

// /* carte*/
// .col-6{
//   flex-basis: 25%;
//   min-width: 200px;
//   padding: 15px;
//   transition: transform 0.5s;
//   display: grid;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }
// .row{
//   position: absolute;
//   left: 0px;
//   gap: 0px;
//   margin-left: 10px;
// }

.col-6 img{
  width: 200px;
  height: 300px;
}
.col-6:hover{
  transform: translateY(-10px);
}
.icone{
  color: #16a7b4;
}
.col-6 h2{
  margin-left: 10px;
}

// configuration pour le bookings.index
body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  }

  .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }

  h1 {
  text-align: center;
  margin-bottom: 30px;
  }

  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }

  th {
  background-color: #f7f7f7;
  }

  tr:hover {
  background-color: #f4f4f4;
  }

  .empty-message {
  text-align: center;
  margin-top: 30px;
  }

// /menu de de la barre de navigation
.Sourcelogo{
  background: radial-gradient(#fff,#eaf2fb);
  float: right;
  height: 25px;
  width:40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.corps{
  width:90% ;
  margin:0 auto;
}
.logomenu{
  height: 5px;
  width: 20px;
  background-color: black;
}
.menu{
  height: 100vh;
  width: 50%;
  padding: 50px;
  transform: translate(-500px);
  transition: 0.5s;
}
/* change les propriété du menu la couleur des intitulé */
.menu li{
  list-style-type: none;
  border-bottom: 1px solid rgb(255,255,255);
  padding: 30px 0;
  text-align: center;
}
.showmenu{
  transform: translateX(0);
}
/*permet d'enlever l'attribut souligné du dernier mot */
.menu li:last-child{
  border-bottom: none;
}
/*permet de rajouter un mot en gras sur le mot Musique uniquement */


/* met en valeur le menu en gars taille police*/
.menu li a{
  color: black;
  text-decoration:none ;
  font-size: 20px;
  transition: font-weight 0.2s;
}
.menu li a:hover{
  font-weight: bold;
}
@media screen and (min-width:1000px){
  .menu{
      width: 500px;
  }
}
@media screen and (max-width:600px){
  .menu li a{
      font-size: 16px;
  }
}
