<div class="container">
<h1>Equipments#index</h1>
<%= @equipments %>
<p>Find me in app/views/equipments/index.html.erb</p>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Equipments</h3>
  <%= link_to "New equipment", new_equipment_path, class: "btn-ghost" %>
  </div>
  <div class="row">
    <% @equipments.each do |equipment| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to equipment_path(equipment), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
            <%= equipment.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

