<h1>Equipments#new</h1>
<p>Find me in app/views/equipments/new.html.erb</p>


<%= simple_form_for(@equipment, url: equipments_path, method: :post) do |f| %>
  <%= f.input :name %>
   <%= f.input :categories_id %>
  <%= f.submit %>
<% end %>
