      <header class="navbar">
        <div class="corps">
          <div class="Sourcelogo" data-action="click->navbar#toggleMenu">
            <div class="logomenu"></div>
            <div class="logomenu"></div>
            <div class="logomenu"></div>
          </div>
        </div>
        <ul class="menu" data-navbar-target="menu">
          <li><%= link_to "Produits", stuffs_path %></li>

          <li>
              <% if user_signed_in? %>
                <%= link_to "Déconnexion", destroy_user_session_path, {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              <% end %>
          </li>
          <li><%= link_to "Compte", new_booking_path %></a></li>
        </ul>
      </header>
    <div class="titre">
      <a><strong><%= link_to "Rent-Sports", root_path %></strong></a>
      </div>
