// code HTML pour 2 cartes
// <div class="rowII">
// <div class="col-4">
// <%= image_tag 'balle.jpg' %>
//     <h3>Ball de Base-ball</h3>
//     <div class="icone">
//         <i class="fa-solid fa-star"></i>
//         <i class="fa-solid fa-star"></i>
//         <i class="fa-solid fa-star"></i>
//         <i class="fa-solid fa-star"></i>
//         <i class="fa-solid fa-star"></i>
//         <i class="fa-solid fa-star"></i>
//     </div>
//     <p>Prix: 5000€ la journée</p>
// </div>
.col-4{
  flex-basis: 25%;
  min-width: 200px;
  padding: 15px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 300px;
  height: 300px;
}
.col-4:hover{
  transform: translateY(-10px);
}
.icone{
  color: #16a7b4;
}
.col-4 h2{
  margin-left: 10px;
}
