.card {
  width: 190px;
  height: 254px;
  background: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.card:hover {
  width: 190px;
  height: 254px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-color: #dfdfdf;
  transition: all .3s ease;
}

.secondAnimation {
  --hoverContorno: #959595;
}

.secondAnimation:hover,
.secondAnimation:focus {
  -webkit-animation: cardAnimacion 1.4s;
  animation: cardAnimacion 1.4s;
  box-shadow: 0 0 0 0.3em rgba(255, 255, 255, 0);
  border-radius: 20px;
}

@-webkit-keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

@keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

.card--image{
 background-image: cover;
 border-radius: 16px;
}

.text_card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.text-card h3, .text-card p {
  margin-top: 8px;
  margin-left: 4px;
}

i{
  right:0
}

.text-card {
  position: relative;
}

.text-card i {
  position: absolute;
  bottom: 10px;
  right: 3px;
}
