.mapboxgl-popup {
  max-width: 50%;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body > div.d-flex > div.w-50.col-lg-4 > div > div{
  min-height: 100vh;
  
}

