// code html
// <a href="">Explorez Maintenant &#8594;</a>

.col a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  background: #0929db;
  color: #fff;
  border-radius: 30px;
  margin-top: 25px;
  transition: background 0.3s;
}
.col a:hover{
  background: #106e77;
}

.btn_home{
  text-decoration: none;
  padding: 10px 20px;
  background: #0929db;
  color: white;
  border-radius: 30px;
  margin-top: 25px;
  transition: background 0.3s;
}
.btn_home:hover{
  background: #106e77;
}
.btn-show1{
  position: absolute;
  bottom: 2%;
  right: 20%;
  text-decoration: none;
  padding: 10px 20px;
  background: #0929db;
  color: white;
  border-radius: 8px;
  margin-top: 25px;
  transition: background 0.3s;
}
.btn-show1 a{
  color: white;
}

.btn-show2 a{
  color: white;
}

.btn-show3 a{
  color: white;
}

.btn-show2{
  display: inline-block;
  position: absolute;
  bottom: 2%;
  right: 50%;
  background: #0929db;
  color: black;
  border-radius: 8px;
  margin-top: 25px;
  transition: background 0.3s;
  padding: 12px 30px;
}


.btn-show3{
  display: inline-block;
  position: absolute;
  bottom: 2%;
  right: 80%;
  background-color: #0929db;
  color: black;
  border-radius: 8px;
  margin-top: 25px;
  transition: background 0.3s;
  padding: 12px 30px;
}

.btn-show1
.btn-show2
.btn-show3:hover{
  background-color: #106e77;
}

.btn-edit {
  padding: 12px 24px;
  gap: 100px;
  margin-left: 100px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 30%;
  bottom: 5%;
}

.btn-edit:hover {
  background-color: #ccc;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}



.btn_index{
    text-decoration: none;
    padding: 10px 20px;
    background: #0929db;
    color: white;
    border-radius: 30px;
    margin-top: 30px;
    transition: background 0.3s;
  }

.btn_index:hover{
    background: #106e77;

}

.future-produits h2{
  font-size: 2rem;
  position: relative;
  left: 5%;
  z-index: -1;
}

